{% extends "base.html" %}

{% block title %}FilmStack - Formulario Maratón{% endblock %}

{% block content %}
<section class="banner">
    {% load static %}
    <img class="img-banner" src="{% static 'img/crear_maraton.jpg' %}" alt="Banner de la página">
    <h1 class="title-banner">
        {% if form.instance.id %}
            Editar Maratón	
        {% else %}
            Crear Maratón
        {% endif %}
    </h1>
</section>
<section class="form-section">
    <form method="post" class="form">
        {% csrf_token %}
        <div>
            <label for="{{ form.nombre.id_for_label }}">Título</label>
            {{ form.nombre }}
            {% if form.nombre.errors %}
                <div>{{ form.nombre.errors }}</div>
            {% endif %}
        </div>
        
        <div>
            <label for="{{ form.descripcion.id_for_label }}">Descripción</label>
            {{ form.descripcion }}
            {% if form.descripcion.errors %}
                <div>{{ form.descripcion.errors }}</div>
            {% endif %}
        </div>
        
        <div class="form-opciones">
            <a href="{% url 'lista_maratones' %}" class="button volver" onclick="history.back(); return false;">Cancelar</a>
            <button type="submit" class="button enviar">
                {% if form.instance.id %}
                    Actualizar Maratón
                {% else %}
                    Crear Maratón
                {% endif %}
            </button>
        </div>
    </form>
</section>
{% endblock %}